#navbar{
    width: 100vw;
    background-color: blanchedalmond;
    padding-top: 10px;
    padding-bottom: 10px;
}

#navbar ul{
    text-align: right;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

#navbar ul li{
    display: inline;
}

#navbar ul li a{
    text-decoration: none;
    color:black;
    padding: 10px;
    margin: 10px;
    font-size: 18pt;
    font-family: "Times New Roman", Times, serif;
}

#navbar ul li a:hover{
    background-color: #ff0000;
    color: white;
}



@media only screen and (min-width: 960px) {
    /* styles for browsers larger than 960px; */
    .navbar-menu-mobile {
        display: hidden;
    }
}
@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
    .navbar-menu-mobile {
        display: hidden;
    }
}
@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
    .navbar-menu-mobile {
        display: hidden;
    }
}
@media only screen and (max-device-width: 480px) {
   /* styles for mobile browsers smaller than 480px; (iPhone) */
   #navbar{
    width: 100vw;
    background-color: blueviolet;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
   }
   
   .navbar-menu {
       display: none;
   }

   .navbar-menu-mobile {
       display: block;
   }
}
@media only screen and (device-width: 768px) {
   /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  /* For landscape layouts only */
}
